@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif; 
}

.header, .hero, footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;   
}

.hero-left {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

button, .calltoaction {
    background-color: #3883F6;
}

.quotesection {
    background-color: #E5E7EB;
}

.quote, .author, .info-title{
    color:#1F2937
}

.quote, .info-title{
    font-size: 36px;
}

.quote {
    font-weight: 300;
}

.author {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 24px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

li{
    padding: 5px;
    color: #F9FAF8;
}

.info-title{
    font-weight: 900;
    text-align: center;
}

.info-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.info-boxes{
    text-align: center;
    margin: 20px;
}

.box{
    border: 4px solid #3883F6;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
}

footer{
    text-align: center;
}

.placeholder {
    height: 300px;
    width: 300px;
    float: right;
}


