@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.header, .hero, footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero {
    padding: 100px 200px;
    display: flex;
    gap: 50px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    text-align: center;
}

.secondary {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.title{
    font-size: 48px;
    font-weight: 900;
}


.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

button, .calltoaction {
    background-color: #3883F6;
    color: #F9FAF8;

}

button {
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 30px;
}

.herobtn {
    border: none;
    cursor: pointer;
}

.quotesection {
    padding: 100px 200px;
    background-color: #E5E7EB;
}

.quote, .author, .info-title{
    color:#1F2937
}

.quote, .info-title{
    font-size: 36px;
}

.quote {
    font-weight: 300;
}

.author {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 24px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

li{
    padding: 5px;
    color: #F9FAF8;
}

.info{
    padding: 100px 200px;
}

.info-title{
    font-weight: 900;
    text-align: center;
}

.info-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.info-boxes{
    text-align: center;
    margin: 20px;
}

.box{
    border: 4px solid #3883F6;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
}

.calltoaction{
    padding: 30px 30px;
    margin: 50px 50px 100px 100px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-text h3 {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.cta-text p{
    color: #E5E7EB;
    font-size: 16px;
}

.calltoactionbtn {
    margin-left: auto;
    display: block;
    border-color: white;
}


footer{
    text-align: center;
    color: #F9FAF8;
    padding: 20px 20px;
}

.placeholder {
    height: 300px;
    width: 500px;
    float: right;
}


